<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн тест. Отправка нового вопроса. Тип 1</title>
    <script src="/js/jquery-1.9.1.js"></script>
</head>
<br>
<h3>Онлайн тест. Отправка нового вопроса. Тип 1</h3>
<form id="my_form">
    Введите новый вопрос: <input type="text" name="text" value="Какого цвета апельсин2" /><br/>
    <input type="hidden" name="type" value="1" /><br/>
    Введите номер правильного ответа: <input type="text" name="right_answer" value="1" /><br/>
    0.<input type="text" name="answer1" value="красный" /><br/>
    1.<input type="text" name="answer2" value="оранжевый" /><br/>
    2.<input type="text" name="answer3" value="зеленый" /><br/>
    3.<input type="text" name="answer4" value="синий" /><br/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><button type="submit" name="AddProduct">Отправить</button></div>
</form>
<div id="result"></div> </br>
<div id="result2"></div>

<script>
    $('#my_form').submit(function(){

        var values = {};
        $.each($(this).serializeArray(), function(){ values[this.name] = this.value; });

        // Prepare the DTO
        var product = {
            id: 1,
            text: values["text"],
            type: values["type"],
            right_answer: values["right_answer"],
            answers: [
                values["answer1"],
                values["answer2"],
                values["answer3"],
                values["answer4"]
            ]
        };

        var json = JSON.stringify(product);
        $.ajax({
            url: "/queries",
            method: "POST",
            contentType: 'application/json',
            data: json,
            success: function (response) {
                console.log(response.message);
                $('#my_form').hide('slow');
                $('#result').text(response.message);
                $('#result2').text("");
            },
            error: function (jqXHR, textStatus, errorThrown ) {
                var err = JSON.parse(jqXHR.responseText);
                $('#result').text("Прозошла ошибка!!!  " + err.message);
                $('#result2').text(err.debugMessage);
            }
        });
        return false;
    });
</script>


</body>
</html>